<header>
    <h1>Hola {{ name }}! Bienvenid@ a mi E-Commerce!</h1>
</header>

<main class="container">
    <table>
        <tbody id="products-list">
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Precio</th>
            <th>Categoría</th>
        </tr>
        {{#each products }}
        {{> product this}}
        {{/each}}
        </tbody>
    </table>
    <button id="btn-refresh-products-list">Traer TODOS los productos</button>
    <a href="/carts/{{ cartId }}">Ver carrito</a>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</main>