<header>
    <h1>{{title}} - Tienda de Productos</h1>
</header>

<main class="container">
    <form action="/register" method="post">
        <div>
            <div>
                <label for="first_name">Nombre:</label>
                <br />
                <input type="text" id="first_name" name="first_name" />
            </div>
            <div>
                <label for="last_name">Apellido:</label>
                <br />
                <input type="text" id="last_name" name="last_name" />
            </div>
            <div>
                <label for="email">Email:</label>
                <br />
                <input type="email" id="email" name="email" placeholder="xxx@mail.com" />
            </div>
            <div>
                <label for="age">Edad:</label>
                <br />
                <input type="number" min="0" id="age" name="age" />
            </div>
            <div>
                <label for="password">Password:</label>
                <br />
                <input type="password" id="password" name="password" placeholder="****" />
            </div>
            <br />
            <button type="submit"> Registrar</button>
        </div>
    </form>
    ¿Ya tienes cuenta?
    <a href="/login">Ingresar</a>
    <a href="/auth/google">Ingresar con Google</a>
</main>